<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>bfhl</title>

  </head>
  <body style="background-color: #3c5d5d">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <form action="{{url_for('bfhl')}}" method="post" enctype="multipart/form-data">
      <div class="form-group" style="width:60%">
        <label for="inputarray">Enter the array elements separated by space. For example:-</label>
        <div class="container">
          <div class="row row-cols-2 row-cols-lg-3" style="width: 60%;">
            <div class="col" style=" border: 2px solid black">0 1 2 3 4 5 6 7 8 9</div>
            <div class="col" style=" border: 2px solid black">2 2 2 2 2 </div>
            <div class="col" style=" border: 2px solid black">1 2 3 4 5 6 A</div>
          </div>
        </div>
        <input type="text" class="form-control" id="inputarray" placeholder="1 2 3 4 5 6" name="array" style="margin:2rem auto auto 2rem ">
        <input class="btn btn-default vertical-center" type="submit" value="Submit">
      </div>
    </form>

    </div>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>

  </body>
</html>